@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Bonheur+Royale&family=Inter&display=swap');

/* =====================
     Formtação geral
   ===================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* =====================
       Plano de fundo
   ===================== */
body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* ===================== 
    Variáveis globais
          (Cores)
   ===================== */
:root {
    --preto: #000;
    --branco: #FFF;
    --corDeFundo: #EEEAE7;
}

/* =====================
    Formatação da tag a 
   ===================== */
a {
    color: var(--branco);
}

/* =====================
      Layout do site
         (FlexBox)
   ===================== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97%;
}

/* =====================
   Layout dos elementos 
    internos do clock
   ===================== */
.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

/* =====================
      Design do clock
   ===================== */
.clock {
    color:var(--branco);
    background: transparent;
    box-shadow: 0px 10px 30px rgba(256, 256, 256, 0.5);
    border-radius: 20px;
    padding: 10px;
}

/* =====================
    Formatação da hora,
    minutos e segundos
   ===================== */
span {    
    font-family: "Open Sans", "Arial", "Times New Roman";
    font-size: 90pt;
}

/* =====================
      Layout do footer
   ===================== */
footer {
    justify-self: center;
    align-self: flex-end;
}

footer {
    font-family: "Bonheur Royale", "Arial";
    font-size: 25pt;
    color: var(--branco);
}